

main {
    font-size: 1.3em;
    margin: 15vh auto 15vh auto;
    max-width: 75vw;
}

article {
    background-color: white;
    padding: 1.5em;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.postContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-self: center;
    text-align: center;
}

.postDetails {
    display: flex;
    justify-content: center;
}

button {
    align-self: flex-start;
}

ul {
    list-style-type: none;
}

li {
    margin: 1em;
}

h3 {
    max-width: 250px;
    align-self: center;
}

.title {
    font-weight: 700;
}

ul:nth-child(1) {
    align-self: flex-start;
    color: magenta;
}