

.postForumContainer {
    font-size: 1.3em;
    margin: 15vh auto 15vh auto;
    max-width: 75vw;
}

.postForumArticle {
    background-color: white;
    padding: 1.5em;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.postForumArticle > button {
    align-self: flex-start;
    margin-left: 1.5em;
}

.postContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-self: center;
    text-align: center;
}

.postDetails {
    display: flex;
    justify-content: center;
}


.postForumArticle > ul {
    list-style-type: none;
}

.postDetails > li {
    margin: 1em;
}

.postForumArticle > h3 {
    max-width: 250px;
}

.title {
    font-weight: 700;
}