.newPost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.newPostContainer {
    display: flex;
    height: 75vh;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(2, 117, 216, 0.3);
    border: 10px solid black;
    padding: 2.5em;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
}

.newPostContainer > textarea {
    height: 20vh;
}
.newPostContainerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    width: 120%;
}
.newPostContainerDetails > input {
    flex: 1;
}

.newPostContainerDetails > label {
    margin-right: 0.5em;
}

.newPostHeading {
    margin-bottom: 2em;
    text-decoration: underline;
    color: white;
    font-weight: 700;
}

.newPostBtn{
    border: 1px solid black;
    background-color: rgba(2, 117, 216, 0.1);
}

.newPostBtn:hover {
    background-color: white;
    color: black;
}